$bgColor: #f9faff;
$dark: #31352B;
$darkBlue: #363853;
$orange: #FF6838;
$gray: #c2c2c2;

%RubikMedium {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%RubikRegular {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%RubikItalic {
    font-family: 'Rubik-Italic', sans-serif;
    font-weight: 400;
}